html
    head
        meta(name='viewport',content="width=device-width,initial-scale=1.0")
        meta(name='description',content="Explore Trext's created by everyone.")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js")
        script(src="/public/javascript/exploreScript.js")
        link(rel='stylesheet',href='/public/css/explore.css')
        link(rel='stylesheet',href='/public/css/tags-preview.css')
        link(rel='stylesheet',href='/public/css/commans.css') 
        title TRext Explore
    body
        header
           nav.explore-tab-nav
               .hyperlinks-section
                   a(href='/explore',class='nav-title')
                       strong TRext Explore
                   .other-pages
                       a(href="/") Home
                       a(href="/") Create
               p Explore Trext's on your favorite topics created by earthly begins. 
        .container
            .search-options
                - var resultsCriteria = 'Rendering all'
                .search-section
                    form.search-event(method='get',action='/explore')
                        p.tag-icon #
                        input.search-input(type='text',placeholder='Search by tag',name='tag',required,maxlength='20',value=resultsBy)
                        button.search-button(type='submit') Search
                .results-criteria
                    if resultsBy
                        - var resultsCriteria='Results by: #'+resultsBy
                    p.results=resultsCriteria
                    p.results-count='Found: '+data.length
            each obj in data
                .main-card
                   .card-header
                       - var title = obj.text_header
                       if !title
                           title='Untitled'
                       p.title=title
                       .page-description
                           strong Description
                           p.description!=obj.meta_information
                       p.date='Pub: '+obj.date
                   .card-footer
                           a(class='open-page',href='/'+obj.custom_url) Open
