html(ng-app='trext')
  head
    title TRext Host your text
    meta(name='description' content="Trext is a platform that allows you to create and share text content with a range of formatting options. Whether you're looking to write a blog post, a personal journal entry, or a professional document, our site makes it easy to add emphasis, style, and clarity to your writing.")
    include viewport.pug
    include angular_cdn.pug
    script(src='/public/javascript/module.js')
    script(src='/public/javascript/tagsConstrustor.js')
    script(src='/public/javascript/script.js')
    link(rel='stylesheet', href='/public/css/main-style.css')
    link(rel='stylesheet',href='/public/css/commans.css')
  body
    header
      nav
        .hyperlinks-section
            a.nav-title(href='/')
              strong TRext
            .other-pages
              a(href='/') Home
              a(href='/explore') Explore
        p Expose your text by creating simple &amp; minimal webpage
    .container
      include logged.pug
      if error
        p.error_message=error
      if mode=='create'
        - var action = '/'
      else
        - var action = '/edit/'+custom_url
      .upper-section
          p.show_mode=mode
          a.help-button(href="/howtouse") How to use?        
      form(method='POST',action=action,ng-controller='page-control',class='main-form',name='mainForm')
          input.page-title.input-group(type='text', placeholder='TITLE',name='text_header',value=text_header,ng-model='text_header',minlength="1",maxlength="120")
          textarea.textbox.input-group(rows='18', placeholder='Type something... ',name='text_body',ng-model='text_body',maxlength="2000",minlength="10",required)=text_body
          .page-controls
            // explore
            section(class='hashtags-section')
              .section-child
                   include hashtags.pug
            // custom url
            section
              label Custom url
              .section-child
                  input.custom-url.input-group(type='text', placeholder='....', ng-model='custom_url', maxlength='40',name='custom_url',value=custom_url)
                  button.generate-random-url.button-group.control-buttons(type='button',ng-click='custom_url=genRandom()') Random
              input.custom-url-preview(type='text', value='{{path(custom_url)}}', ng-click='copyToClipboard($event.target)', readonly='')
          if mode=='create'
              button.submit-button.button-group(type='submit') CREATE
          else
              button.submit-button.edit-button.button-group(type='submit') SAVE CHANGES
    include footer.pug
