html(lang="en")
    head
        - var text_title = data['text_header']
        meta(charset="UTF-8")
        include viewport.pug
        include angular_cdn.pug
        meta(name="description",content=description)
        script(src="/public/javascript/view.js")
        if text_title
            title=text_title
        else
            title='TRext page'
        link(rel="stylesheet",href="/public/css/view-style.css")
        link(rel='stylesheet',href='/public/css/tags-preview.css')
    body(ng-app="trextViewModule")
    .container
       header
           p.text_header=text_title
           span.date="Pub: "+data['date']
           if meta_information
               details
                   summary Description
                   p.description!=meta_information
       .text_body
           main
             pre.text-body-content !{data['text_body']}
       .container_footer(ng-controller='footer-actions')
           .app-credits
              a(href="/") Create Your TRext
           aside
               if owner
                   a(href="/edit/"+data['custom_url'],class="edit_button",title="Edit this page") Edit
               a(class="share_button",title="Share link",ng-click='share()') Share

    include footer.pug
